.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register {
  background-color: #2563eb;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: #ffffff;
  padding: 10px;
}
.meetup {
  width: 60%;
}
